<div class="row">        
  <div class="col-md-6"> 
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>  
      <tr> <td>11:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr> 
      <tr> <td>13:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>14:30</td>  <td>Finished</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> 
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>14:30</td>  <td>Finished</td> </tr>
    </table>
  </div>
</div>
<div class="row">        
  <div class="col-md-6"> 
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Data Analysis with R</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Data Analysis with R (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Data Analysis with R (Continued)</td> </tr>
      <tr> <td>14:30</td>  <td>Finished</td> <!-- 1.5 hours --> </tr>
    </table>
  </div>
</div>
